.header-child1 {
  width: 375px;
  height: 100px;
  position: relative;
  background-color: var(--green00);
  display: none;
  max-width: 100%;
}
.placeholder1 {
  width: 54px;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.mobile-signal-icon4,
.wifi-icon4 {
  height: 10.7px;
  width: 17px;
  position: relative;
  z-index: 1;
}
.wifi-icon4 {
  height: 11px;
  width: 15.3px;
}
.battery-icon4 {
  align-self: stretch;
  width: 24.3px;
  position: relative;
  max-height: 100%;
  min-height: 11px;
  z-index: 1;
}
.frame-wrapper1,
.mobile-signal-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile-signal-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.frame-wrapper1 {
  width: 66.6px;
  flex-direction: column;
  padding: var(--padding-9xs-3) 0 0;
  box-sizing: border-box;
}
.header-inner1,
.placeholder-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.placeholder-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-inner1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-8xs);
  box-sizing: border-box;
}
.ionarrow-back-icon3 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ionarrow-back-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-5);
}
.mt-khu1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 76px;
  white-space: nowrap;
  z-index: 1;
}
.notification-badge-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.notification-dot2 {
  height: 29.23%;
  width: 28.95%;
  position: absolute;
  margin: 0 !important;
  top: 12.31%;
  right: 12.63%;
  bottom: 58.46%;
  left: 58.42%;
  border-radius: 50%;
  background-color: var(--primary-orange-2);
  z-index: 1;
}
.ionnotifications2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-11xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.ionnotifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-7);
}
.frame-parent7,
.header3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.header3 {
  background-color: var(--green00);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.group-icon {
  height: 170px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.group-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 78px 0 77px;
}
.enter-text4,
.mt-khu-hin {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.mt-khu-hin {
  width: 163.9px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00355d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enter-text4 {
  width: 200px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 21px;
  color: var(--darkblue03);
  text-align: left;
  padding: 0;
}
.mt-khu-hin-ti-parent,
.text-field4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--border-primary);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.mt-khu-hin-ti-parent {
  flex-direction: column;
}
.enter-text5,
.mt-khu-mi {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.mt-khu-mi {
  width: 163.9px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00355d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enter-text5 {
  width: 123px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 21px;
  color: var(--darkblue03);
  text-align: left;
  padding: 0;
}
.mt-khu-mi-parent,
.text-field5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--border-primary);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}
.mt-khu-mi-parent {
  flex-direction: column;
}
.enter-text6,
.nhp-li-mt {
  position: relative;
  line-height: 150%;
}
.nhp-li-mt {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00355d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.enter-text6 {
  width: 141px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 21px;
  color: var(--darkblue03);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.nhp-li-mt-khu-mi-parent,
.text-field6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field6 {
  cursor: pointer;
  border: 1px solid var(--border-primary);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.nhp-li-mt-khu-mi-parent {
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
}
.button2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  min-width: 83px;
}
.component-701 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-5xs);
  background-color: var(--green00);
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 25px;
}
.component-711 {
  border-radius: var(--br-9xs);
  background-color: var(--orange00);
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl);
}
.component-70-parent,
.component-711,
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-70-parent {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-wrapper2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-29xl) 0 49px;
  font-size: var(--font-size-sm);
}
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent9 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.frame-parent8 {
  flex: 1;
  align-items: flex-start;
  gap: 71px;
}
.setting-password-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-23xl) 17px 47px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.vector-icon8 {
  width: 18px;
  height: 17.8px;
  position: relative;
}
.overview-frame,
.overview4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.overview-frame {
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs-1);
}
.subtract-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
}
.mygoal4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.chart-icon4 {
  width: 25px;
  height: 25px;
  position: relative;
}
.chart-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-5);
}
.vector-icon9 {
  height: 20px;
  width: 19px;
  position: relative;
}
.menu-mobile-wrapper,
.menu-mobile4,
.setting5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.setting5 {
  width: 40px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 20px);
  right: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xs);
  height: 40px;
}
.menu-mobile-wrapper,
.menu-mobile4 {
  max-width: 100%;
}
.menu-mobile4 {
  flex: 1;
  box-shadow: 0-3px 3px rgba(0, 116, 189, 0.15);
  background-color: var(--color-white);
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-11xl);
  position: relative;
  gap: var(--gap-38xl);
}
.menu-mobile-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
}
.setting-password {
  width: 100%;
  position: relative;
  background-color: var(--background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  line-height: normal;
  letter-spacing: normal;
}
